/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* Home Page */
.home-center-column, .profile-center-column {
  border: 1px solid #d6d6d6;
  padding-top: 20px;
  border-radius: 3px;
}

.home-stats-number {
  font-weight: bold;
  font-size: 1.2rem;
}

/* Posts */
.post-container {
  display: flex;
  border: solid #d6d6d6 /* black */ 1px;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 0;
}
.post-user-img-container {
}
.post-user-img {
  width: 60px;
  height: 60px;
  margin: 10px 10px;
  border-radius: 50%;
}
.post-content {
  padding-left: 5px;
}

/* This should be a class, but using React-Bootstrap, it makes it an id. */
#dropdown-basic-button {
  width: 30px; height: 30px;
  color: gray;
  margin: -10px 10px 0;
  padding: 5px;
  border-radius: 50%;
}
#dropdown-basic-button:hover {
  background: lightblue;
}

.follow-button, .edit-profile-button {
  height: 40px;
  width: 110px;
  border-radius: 60px;
  margin: auto 0; /* vertically centered */
}

/* Profile page */
.profile-info-container {
  background: white;
  padding: 0 40px;
  border-radius: 20px;
  border: 1px solid #d6d6d6;
}
/* Desktop profile page */
@media (min-width: 768px) {
  .profile-info-container {
    margin: 0 auto;
    /* width: 80%; */
    /* width: fit-content; */
    /* padding: 0 20px; */
  }
  .profile-picture {
    margin-top: -60px;
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
  }
}
/* Mobile profile page */
@media (max-width: 768px) {
  .profile-info-container {
    margin: 0 auto;
    padding: 10px 20px;
    /* width: fit-content; */
    width: 100%;
  }
  .profile-picture {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    margin: 10px;
  }
}
.profile-picture {
  border-radius: 50%;
  border: 1px solid #d6d6d6;
}
.profile-name {
  font-weight: bold;
}
.profile-username {
  color: grey;
  margin-top: -10px;
  /* margin: 0; padding: 0; */
}
.profile-stats-number {
  font-weight: bold;
  color: black;
}
.profile-stats-label {
  color: gray;
}

.profile-tab-label {
  color: gray;
  /* font-weight: bold; */
}
.profile-tab-number {
  font-weight: bold;
  font-size: 1.2rem;
  color: gray;
}
.nav-link.active .profile-tab-number {
  color: #007bff; /* The default bootstrap link color */
}

/* Users page */
.user-card {
  background: white;
  text-align: left;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  margin-bottom: 4px;
}
.user-card-col1 {
  display: inline-block;
}
img.user-card-img {
  width: 75px;
  height: 75px;
  margin: 10px 10px;
  /* margin-right: 20px; */
  border: none;
  border-radius: 50%;
}
.user-card-col2 {
  display: block;
}
.user-card p {
  margin: 0;
  padding: 0;
  /* line-height: 1rem; */
  /* color: red; */
}
.user-card .user-username a{
  color: grey;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
